.container {
  width: 100%;
  background-color: var(--white);
  padding: 5.4rem 3.2rem;
  border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -ms-border-radius: 2.4rem;
  -o-border-radius: 2.4rem;
  position: relative;
}
